option_settings:
  aws:elasticbeanstalk:environment:proxy: 
    ProxyServer: nginx
  aws:elasticbeanstalk:container:nodejs:
    GzipCompression: true
  aws:elasticbeanstalk:container:nodejs:staticfiles:
    /static: build/static
    /: build

  aws:autoscaling:launchconfiguration:
    RootVolumeType: gp3
    RootVolumeSize: 10